In [5]:
"""
Create table Ordens(
	id int,
	created_at datetime,
	customer_id int,
	status nvarchar(255)
)
"""

'\nCreate table Ordens(\n\tid int,\n\tcreated_at datetime,\n\tcustomer_id int,\n\tstatus nvarchar(255)\n)\n'

In [6]:

import pandas as pd
import pyodbc 

server = 'DESKTOP-505F0PE'
database = 'Python' 
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                      f'SERVER={server};'
                      f'DATABASE={database};'
                      'Trusted_Connection=yes;')

cursor = conexaoDB.cursor()

In [7]:
dados = pd.read_excel(r"D:\engenharia de dados\curso udemy\Arquivos\04.+ETL+Pandas\04. ETL Pandas\arquivos_excel\Ordens.xlsx")
str(dados.columns).replace("'","")

'Index([id, created_at, customer_id, status], dtype=object)'

In [8]:
cursor.execute('truncate table [Ordens]') 
cursor.commit()

In [9]:
for index, linha in dados.iterrows():
    
    cursor.execute("Insert into [Ordens](id, created_at, customer_id, status)values(?,?,?,?)",linha.id,linha.created_at,linha.customer_id,linha.status) 
    
cursor.commit()   
cursor.close()
conexaoDB.close()