In [58]:
"""
CREATE TABLE Clientes(
	id int,
	created_at datetime,
	first_name nvarchar(255),
	last_name nvarchar(255),
	email nvarchar(255),
	cell_phone nvarchar(255),
	country nvarchar(255),
	state nvarchar(255),
	street nvarchar(255),
	number nvarchar(255),
	additionals nvarchar(255)
)

"""

'\nCREATE TABLE Clientes(\n\tid int,\n\tcreated_at datetime,\n\tfirst_name nvarchar(255),\n\tlast_name nvarchar(255),\n\temail nvarchar(255),\n\tcell_phone nvarchar(255),\n\tcountry nvarchar(255),\n\tstate nvarchar(255),\n\tstreet nvarchar(255),\n\tnumber nvarchar(255),\n\tadditionals nvarchar(255)\n)\n\n'

In [59]:

import pandas as pd
import pyodbc 

server = 'DESKTOP-505F0PE'
database = 'Python' 
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                      f'SERVER={server};'
                      f'DATABASE={database};'
                      'Trusted_Connection=yes;')

cursor = conexaoDB.cursor()

In [60]:
dados = pd.read_csv(r"D:\engenharia de dados\curso udemy\Arquivos\04.+ETL+Pandas\04. ETL Pandas\arquivos_csv\Clientes.csv")

In [61]:
dados['created_at'] = pd.to_datetime(dados['created_at'])
dados['email'] = dados['email'].fillna('Sem Registro')
dados['street'] = dados['street'].fillna('Sem Info')
dados['number'] = dados['number'].fillna('Sem NÃºmero')
dados['additionals'] = dados['additionals'].fillna('Sem Info')

In [62]:
for coluna in dados.columns:
    print(f"Coluna: {coluna}, Tipo de dados: {dados[coluna].dtypes}")

Coluna: id, Tipo de dados: int64
Coluna: created_at, Tipo de dados: datetime64[ns]
Coluna: first_name, Tipo de dados: object
Coluna: last_name, Tipo de dados: object
Coluna: email, Tipo de dados: object
Coluna: cell_phone, Tipo de dados: object
Coluna: country, Tipo de dados: object
Coluna: state, Tipo de dados: object
Coluna: street, Tipo de dados: object
Coluna: number, Tipo de dados: object
Coluna: additionals, Tipo de dados: object

In [63]:
str(dados.columns).replace("'","")

'Index([id, created_at, first_name, last_name, email, cell_phone,\n       country, state, street, number, additionals],\n      dtype=object)'

In [64]:
cursor.execute('truncate table [Clientes]') 
cursor.commit()

In [65]:
for index, linha in dados.iterrows():
    
    linha.email = str(linha.email)
    linha.cell_phone = str(linha.cell_phone)
    linha.country = str(linha.country)
    linha.state = str(linha.state)

    cursor.execute("Insert into [Clientes](id, created_at, first_name, last_name, email, cell_phone, country, state, street, number, additionals)values(?,?,?,?,?,?,?,?,?,?,?)",linha.id,linha.created_at,linha.first_name,
                   linha.last_name, linha.email, linha.cell_phone, linha.country, linha.state, linha.street, linha.number, linha.additionals) 
    
cursor.commit()   
cursor.close()
conexaoDB.close()