Insert Dataframe data in MySQL

In [1]:
import pandas as pd
caminho_categories = r"D:\engenharia de dados\curso udemy\Arquivos\02.+MySQL\02. MySQL\Diagrama MySQL\archive\categories.csv"

df_categories = pd.read_csv(caminho_categories, sep=',')
df_categories.head(7)

   category_id        category_name
0            1    Children Bicycles
1            2     Comfort Bicycles
2            3    Cruisers Bicycles
3            4  Cyclocross Bicycles
4            5       Electric Bikes
5            6       Mountain Bikes
6            7           Road Bikes

In [6]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='teste123', host='localhost', database='python')  
cursor = cnx.cursor()        

for i, df_categories_coluna in df_categories.iterrows():
    cursor.execute('SELECT category_id FROM python.categories WHERE category_id = %s',(df_categories_coluna['category_id'],))
    result = cursor.fetchone()

    if not result :
        cursor.execute(
            '''
            INSERT INTO python.categories
            (category_id, category_name)
            VALUES (%s, %s)    
            ''',(
                df_categories_coluna['category_id'],
                df_categories_coluna['category_name']
            )
        )

cnx.commit()

cursor.close()
cnx.close()