In [2]:
from sqlalchemy import create_engine,VARCHAR,NUMERIC,INTEGER,DATE,DATETIME,String
import pandas as pd

Connection to source

In [3]:
eng_postgree = create_engine('postgresql://postgres:teste123@localhost:5432/python')


query = """
select 
id
,dt_ocorrencia
,uf
,regiao
,classificacao_da_ocorrencia
from public.anac_mapeamento
"""

df=pd.read_sql_query(query,eng_postgree )
df.head(5)

     id dt_ocorrencia  uf        regiao classificacao_da_ocorrencia
0  7762    2018-03-21  SP       Sudeste                   Incidente
1  7759    2018-03-14  MG       Sudeste                    Acidente
2  7758    2018-01-26  GO  Centro-Oeste                    Acidente
3  7758    2018-01-26  GO  Centro-Oeste                    Acidente
4  7757    2018-03-18  RS           Sul             Incidente Grave

Connection target

In [5]:
df.dtypes

id                              int64
dt_ocorrencia                  object
uf                             object
regiao                         object
classificacao_da_ocorrencia    object
dtype: object

In [6]:
df.columns

Index(['id', 'dt_ocorrencia', 'uf', 'regiao', 'classificacao_da_ocorrencia'], dtype='object')

In [7]:
eng_mysql = create_engine("mysql+mysqldb://root:teste123@localhost/python")

tabela_destino='anac_origem_postgree'

tipo_coluna={
    'id':INTEGER,
    'dt_ocorrencia':DATE,
    'uf':VARCHAR(15),
    'regiao':VARCHAR(15),
    'classificacao_da_ocorrencia':VARCHAR(50)
     }


df.to_sql(name=tabela_destino, con=eng_mysql, if_exists='replace', dtype= tipo_coluna, index=False    )

13011