In [1]:
from sqlalchemy import create_engine,VARCHAR,NUMERIC,INTEGER,DATE,DATETIME,String
import pandas as pd

eng_postgree = create_engine('postgresql://postgres:teste123@localhost:5432/python')
eng_mysql = create_engine("mysql+mysqldb://root:teste123@localhost/python")

query = """
    SELECT * FROM python.customers
"""

df=pd.read_sql_query(query,eng_mysql )
df.head()

,customer_id,first_name,last_name,phone,email,street,city,state,zip_codes
0,1,Debra,Burks,,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127
1,2,Kasha,Todd,,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,95008
2,3,Tameka,Fisher,,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278
3,4,Daryl,Spence,,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553
4,5,Charolette,Rice,(916) 381-6003,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820

In [3]:
tabela_destino='clientes_origem_mysql'

tipo_coluna={
    'customer_id':INTEGER,    
    'first_name':VARCHAR(50),
    'last_name':VARCHAR(50),
    'phone':VARCHAR(30),
    'email':VARCHAR(50),
    'street':VARCHAR(100),
    'city':VARCHAR(50),
    'state':VARCHAR(20),
    'zip_code':VARCHAR(20)  
     }


df.to_sql(name=tabela_destino, con=eng_postgree, if_exists='replace', dtype= tipo_coluna, index=False)

eng_postgree.dispose()
eng_mysql.dispose()