Basic Connection

In [12]:
import sqlite3
con = sqlite3.connect("database/tutorial.db")

cursor = con.cursor()

#cursor.execute("CREATE TABLE produto(Id, Nome, valor)" ) #Create Table

cursor.execute("INSERT INTO produto (Id, Nome, valor) VALUES (3,'Camisa',102.50)")

con.commit()
con.close()

In [11]:
import sqlite3
import pandas as pd

con = sqlite3.connect("database/tutorial.db")
query = "SELECT * FROM produto"

df = pd.read_sql(query, con)

con.close()

df.head()

   Id    Nome  valor
0   1   Tenis  203.3
1   2  Panela  100.0