In [1]:
import pandas as pd
import os

In [3]:
import pandas as pd
import os

diretorio = (r"D:\engenharia de dados\curso udemy\Arquivos\Outros+Arquivos\Outros Arquivos")

dados = []

for arquivo in os.listdir(diretorio):
    if arquivo.endswith('.xlsx'):
        caminho_arquivo = os.path.join(diretorio, arquivo)
        df = pd.read_excel(caminho_arquivo)
        dados.append(df)

consolidado = pd.concat(dados)
consolidado.head(5)

,Data,Id Venda,IdCategoria,Categoria,IdPais,Pais,idProduto,Produto,Custo fabricacao,Unidades Vendidas,Preco venda,Vendas total,Descontos
0,2021-04-02,573,1,Moda,636,Alemanha,15,Shorts,10,1033,20,20660,3674.400
1,2021-04-02,599,4,Acessórios,637,França,12,Relogio,120,739,15,11085,7795.125
2,2021-04-02,1125,1,Moda,636,Alemanha,15,Shorts,10,790,20,15800,3674.400
3,2021-04-02,1151,4,Acessórios,637,França,12,Relogio,120,953,15,14295,7795.125
4,2021-04-06,394,5,Automitivos,639,USA,8,Limpa vidros,250,290,300,87000,19392.000

In [8]:
pasta_destino = r'D:\\engenharia de dados\\curso udemy\\Github\\04_etl_pandas\\consolidar\\'

nome_arquivo = 'VendasGeraldelete.xlsx'

Caminho_Completo = pasta_destino + nome_arquivo 

if os.path.exists(Caminho_Completo):
    os.remove(Caminho_Completo)

consolidado.to_excel(Caminho_Completo, index=False)